<!DOCTYPE html>
<html>
<head>
	<title>Speak EZ</title>

	<link href="http://fonts.googleapis.com/css?family=Lobster+Two" rel="stylesheet" type="text/css">

	<!-- Latest compiled and minified Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css">

	<link rel="stylesheet" type="text/css" href="stylesheets/style.css">
	
</head>

<body>

	<!-- The Cotton Club, The Stork Club, Club Intime, Landmark Tavern, 21 Club, The Bath Club,
		Angel's Share, Attaboy, The Back Room B Flat -->

	<div id="home-image" class="jumbotron">
		<nav class="nav" role="navigation">
		  <div class="container-fluid">
		    <div class="navbar-right">
		      <ul class="nav navbar-nav">
		        <li id="nav-forum"><a href="http://127.0.0.1:3000/logout">Logout</a></li>
		      </ul>
		    </div>
		  </div>
		</nav>
		<div class="container">
			<h2>Come Alive in the Night</h2>
			<div class="row">
				<div class="col-xs-6">
					<p><i>"The sun setting the people getting,</i></p>
					<p><i>ready to wake in moonlight.</i></p>
					<p><i>The alley crawling the people sprawling,</i></p>
					<p><i>coming alive in the night."</i></p>
					<p><i>--Speak EZ</i></p>
				</div>
			</div>
		</div>
	</div>

	<div class="row">
		<div class="col-lg-2 col-lg-offset-1 col-xs-4">
			<div class="thumbnail">
				<a href="/room/21-club"><img src="images/21_club.jpg"></a>
				<div class="caption">
					<h3>21 Club</h3>
				</div>
			</div>
		</div>
		<div class="col-lg-2 col-xs-4">
			<div class="thumbnail">
				<a href="/room/cotton-club"><img src="images/cotton_club.jpg"></a>
				<div class="caption">
					<h3>Cotton Club</h3>
				</div>
			</div>
		</div>
		<div class="col-lg-2 col-xs-4">
			<div class="thumbnail">
				<a href="/room/angels-share"><img src="images/angels_share.jpg"></a>
				<div class="caption">
					<h3>Angel's Share</h3>
				</div>
			</div>
		</div>
		<div class="col-lg-2 col-lg-offset-0 col-xs-3 col-xs-offset-3">
			<div class="thumbnail">
				<a href="/room/back-room"><img src="images/back_room.jpg"></a>
				<div class="caption">
					<h3>Back Room</h3>
				</div>
			</div>
		</div>
		<div class="col-lg-2 col-xs-3">
			<div class="thumbnail">
				<a href="/room/b-flat"><img src="images/b_flat.jpg"></a>
				<div class="caption">
					<h3>B Flat</h3>
				</div>
			</div>
		</div>
	</div>

	{{>footer}}
</body>
<html>
